{
  "openapi": "3.1.0",
  "info": {
    "title": "Chrunchforms API",
    "description": "Crunchforms acts as a simple API for acception submissions, and will return a JSON response indicating success or failure of the submission if you choose the JSON response option when configuring your form.",
    "license": {
      "name": "Apache-2.0"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://crunchforms.com"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/form/{formID}": {
      "post": {
        "description": "Submits and validates a form submission to the specified form ID.",
        "parameters": [
          {
            "name": "formID",
            "in": "path",
            "description": "ID of the form configured in your Crunchforms dashboard",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Any field names are accepted, with exceptions and considerations listed below. This will allow you to build flexible forms for your website.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormFields"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful form submission",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "status"
                  ],
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "status"
                  ],
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Failed - Message describing the error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "FormFields": {
        "allOf": [
          {
            "required": [
            ],
            "type": "object",
            "properties": {
              "email": {
                "description": "Not Required, however this is the field that will be used as the reply-to address in notification emails, in order to respond easily to the submitter.",
                "type": "string"
              },
              "{honeypot}": {
                "description": "any field that matches your forms configured honeypot field name will cause the submission to be rejected as spam if it has a value other than null or empty string",
                "type": "string"
              },
              "turnstileToken": {
                "description": "The turnstile token generated by the client side integration. Required if Turnstile is enabled for the form, either under this name or 'cf-turnstile-response'.",
                "type": "string"
              },
              "cf-turnstile-response": {
                "description": "The turnstile token generated by the client side integration. Required if Turnstile is enabled for the form, either under this name or 'turnstileToken'.",
                "type": "string"
              }
            }
          }
        ]
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "http",
        "scheme": "apiKey"
      }
    }
  }
}